
/*-------------------------- Global Styles --------------------------*/
* {
  padding: 0;
  margin: 0;
  background: /*#1D3557*/ #F1FAEE;
  box-sizing: border-box;
  color: #1D3557;
  font-family:  'Open Sans', sans-serif;
  
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    
  }
}
.row {
  width:100%;
  text-align: center;
  padding-bottom: 50px;
  box-sizing: border-box
}

.row1 {
  width:70%;
  text-align: center;
  padding-bottom: 50px;
  box-sizing: border-box;
  margin: auto;
}

.rowi {
  padding-bottom: 50px;
  width: 100%;
  text-align: center;
}

.columni {
  text-align: center;
  width: 70%;
  margin: auto;
  padding: 10px;
  padding: 10px;
  padding: 30px;
}



.column {
  float: left;
  width: 33.33%;
  padding: 10px;

  padding: 10px;
  padding: 30px;
}


.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}


iframe{
  align-self: center;
  margin-bottom: 75px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



html, body{
  height: 100%;
}


li, a, button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  text-decoration: none;
}
h1 a, h1, li a{
  background-color: #457B9D;
  font-family: 'Rock Salt', cursive;
  font-weight: bold;

}
h3 {
  padding-top: 10px;
  text-decoration: underline;

}

h3 a, h3{
  color:  #457B9D;;
}
article{
  display: flex;
  padding-top: 15px;
  justify-content: space-evenly;
  padding-left: 1em;
  padding-right: 1em;
}

.course {
  width: 30rem;
}

ul {
  list-style: none
}

ul li{
  color:  #457B9D;  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #457B9D;
  font-family:  'Open Sans', sans-serif;
}

.navbar {
  list-style: none;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  background-color: #457B9D;
  width: 700px;
  
}

.navbar li{
  display: inline-block;
  padding: 10px 35px;
  background-color: #457B9D;
}

.navbar li:hover {
  background-color: #1D3557; 
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.navbar li a {
  background-color: transparent;
}

.navbar li a:hover{
  color: #E63946;
  background-color: #1D3557;
  transition: all 0.3s ease 0s;
}

a:hover {
  color: #E63946;
}

button {
  padding: 9px 25px;
  background-color: #457B9D;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #1D3557;
  color: #E63946;

}

.opening {
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
  margin: auto;
  display: inline-block;
  transition: all 0.3s ease 0s;
  background-color: #457B9D;
  font-size: 25px;
  
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
  position: relative;
}

#contact-section {
  text-align: center;
  background-color: #F1FAEE;
  padding: 8% 0%;

}


.opening:hover {
  background-color: #1D3557;
}

.name-title {
  text-decoration: none;
  position: relative;
  font-family: 'Rock Salt', cursive;
  font-size: 85px;
  width: 20%;
  line-height: 87px;
  margin-left: 255px;
}

.content-wrap-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

figcaption{
  width: 50%;
  text-align: center;
}

input, textarea {
  outline-color: #F6FEF5;
  outline-style: solid;
  background-color:  #B1DEE7;
}

img {
  border: none;
  border-radius: 20px;
  padding-top: 10px;
}

.footbar {
  font-family:  'Open Sans', sans-serif;
  font-size: larger;
  text-align: center;
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #457B9D;
   text-align: center;
   justify-content: space-evenly;
   display: inline-flex;

}

.footer-link {
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
  list-style: none;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  background-color: #457B9D;
  width: 100px;
  padding: 10px 50px;

}

.footer-link:hover {
  background-color: #1D3557; 
  border: none;
  border-radius: 15px;  
  cursor: pointer;
  transition: all 0.3s ease 0s;
  padding: 10px 60px;

}

.bottom-half {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 10rem;
  bottom: 0;
  height: 70%;
  padding-left: 0px;
}


.interest-section, .projects {
  display: flex;
}

.title {
 padding-top: 25px;
 padding-bottom: -20px;
 text-align: center;
}

.summary {
  padding-bottom: 40px;
}

.projects {
  padding-top: 25px;
  padding-bottom: 200px;
}

#sum1 {
  text-align: center;
  align-content: center;
  padding-left: 70px;
  padding-right: 70px;
}
.block {
  width: 35%;
  padding-left: 20px;
  padding-right: 20px;
}

h2 {
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
}

.desc {
  padding-bottom: 30px;
}

.acaPic {
  padding-top: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: none;
  border-radius: 20px;
}

.hello{
  margin: auto;
  width: 60%;
  padding-top: 5px;
  padding-bottom: 100px;
}

.container {
  justify-content: center;
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 0.5px;
  padding-bottom: 10px;
  color: white;
  height: 20px;
  font-size: 15px;
}

.html {width: 75%; background-color: #4CAF50;}
.css {width: 60%; background-color: #2196F3;}
.js {width: 50%; background-color: #f44336;}
.php {width: 60%; background-color: #808080;}



